<link rel="stylesheet" href="/css/filter.css" type="text/css"/>
<div class="filter-div">
  <p>
    Select options below to filter by.
  </p>
  <form id="filterForm" action="/recipes/filter" method="POST">
    <label for="cuisine">Cuisine: </label>
    <select name="cuisine" class="cuisine-filter" multiple>
      <% cuisines.forEach(function(cuisine){ %>
      <option value="<%= cuisine %>"><%= cuisine %></option>
      <% }); %>
    </select>
    <label for="course">Course: </label>
    <select name="course" class="course-filter" multiple>
      <% courses.forEach(function(course){ %>
      <option value="<%= course %>"><%= course %></option>
      <% }); %>
    </select>
    <label for="ingredients">Ingredients: </label>
    <select name="ingredients" class="ingredient-filter" multiple>
      <% ingredients.forEach(function(ingredient){ %>
      <option value="<%= ingredient.name %>"><%= ingredient.text_friendly_name %></option>
      <% }); %>
    </select>
    <br>
    <br>
    <button type="submit" class="filter-button">FILTER</button>
  </form>
</div>
