<link rel="stylesheet" href="/css/upload.css" type="text/css"/>
<script src="/js/upload.js"></script>
<div class="upload-div">
  <form id="uploadForm" action="/recipes/add" method="POST">
    <p>
      Please include the following information about the recipe:
    </p>
    <label for="name">Name: </label><input type="text" class="name-input" name="name" /><br>
    <div id="ingredientDiv" >
      <label for="ingredients">Ingredients: </label>
      <button type="button" class="add-new-item-button" onclick="addNewIngredient()">+</button>
      <br>
      <div>
	<input type="text" name="quantity" class="quantity-input"/><select class="measurement-input">
	  <% measurements.forEach(function(measurement){ %>
	  <option name="unit" value="<%= measurement %>"><%= measurement %></option>
	  <% }); %>
	</select><input type="text" name="ingredient" class="ingredient-input" />
	<button type="button" class="remove-item-button" onclick="removeIngredient(this)">DELETE</button>
      </div>
    </div>
    <div id="stepDiv">
      <label for="steps">Steps: </label><button type="button" class="add-new-item-button" onclick="addNewStep()">+</button><br>
      <div>
	<input type="text" name="steps" class="step-input" />
	<button type="button" class="remove-item-button" onclick="removeStep(this)">DELETE</button>
      </div>
    </div>
    <label for="course">Course: </label><br>
    <select name="course" class="course-select" multiple>
      <% courses.forEach(function(course){ %>
      <option value="<%= course %>"><%= course %></option>
      <% }); %>
    </select>
    <br>
    <label for="prepTime">Prep Time: </label><br>
    <input type="text" name="prepTime" class="prep-input" /><label for="prepTime"> Minutes</label><br>
    <label for="cookTime">Cook Time: </label><br>
    <input type="text" name="cookTime" class="cook-input" /><label for="cookTime"> Minutes</label><br>
    <label for="cuisine">Cuisine: </label><br>
    <select name="cuisine" class="cuisine-select" multiple>
      <% cuisines.forEach(function(cuisine){ %>
      <option value="<%= cuisine %>"><%= cuisine %></option>
      <% }); %>
    </select>
    <br>
    <label for="description">Description: </label><br>
    <textarea name="description" class="description-input" form="uploadForm"></textarea><br>
    <label for="searchable">Status: </label>
    <select name="searchable">
      <option value="false">Private</option>
      <option value="true">Public</option>
    </select>
    <br>
    <br>
    <button type="submit" class="upload-button">UPLOAD</button>
  </form>
</div>
