<html lang="en">
  <head>
    <title>Recipes</title>
    <link rel="stylesheet" href="/css/recipes.css" type="text/css"/>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
  </head>
  <body>
    <%- include('components/header') %>
    <% for(var i = 0; i < recipes.length; ++i) { %>
       <a href="/recipes/id/<%- recipes[i]._id %>">
	 <div class="recipe-box">
	   <p class="recipe-title"><%- recipes[i].text_friendly_name %></p>
	   <p class="recipe-description"><%- recipes[i].description %></p>
	   <p class="recipe-short-description"><%- recipes[i].short_description %></p>
	 </div>
       </a>
       <% } %>
  </body>
</html>
